<mat-card>
    <mat-card-title i18n>GeoShop - Authentification</mat-card-title>
    <mat-card-subtitle i18n>Mot de passe oublié</mat-card-subtitle>
  <mat-card-content>
    <div class="flex-row info-container">
      <mat-icon i18n="@@main.info">info</mat-icon>
      <span i18n="@@auth.forgot_pw">
        Veuillez saisir le courriel correspondant à votre compte et un lien vous sera envoyé
        pour mettre à jour votre
        mot de passe.
      </span>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <mat-form-field color="accent">
        <input type="email" autocapitalize="off" spellcheck="false" id="email"
               formControlName="email" required matInput placeholder="Courriel">
        <mat-error *ngIf="email?.hasError('required')" i18n="@@auth.required">Requis</mat-error>
        <mat-error *ngIf="email?.hasError('pattern')" i18n="@@auth.mail_awaiting">Courriel attendu</mat-error>
      </mat-form-field>

      <button class="form-login-button" color="accent" mat-raised-button type="submit"
              [disabled]="form.pristine || form.invalid" i18n="@@main.send">
        Envoyer
      </button>
    </form>
  </mat-card-content>
</mat-card>
